body {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  border: 1px dashed #4b4c4e;
  padding: 20px;
  max-width: 500px;
  justify-content: space-between;
  min-height: 500px;
  width: 100%;
  flex-wrap: wrap;
}

.form-group {
  width: 200px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results {
  border: 1px solid #ccc;
  border-top: 0;
  width: 100%;
  padding: 5px 0;
  max-height: 200px;
  overflow-y: scroll;
  display: none;
}

.noResult {
  padding: 5px;
}

.result {
  padding: 5px;
  cursor: pointer;
}
.result:hover,
.result.active {
  background-color: #eee;
}

form {
  display: flex;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.selected-item {
  margin-top: 15px;
}
